body {
  background: rgb(120, 129, 255);
  background: linear-gradient(
    90deg,
    rgba(120, 129, 255, 1) 0%,
    rgba(73, 0, 145, 1) 100%
  );
  font-family: "Inter:wght@200&family=Nunito:wght@300&display=swap", sans-serif;
}

.offcanvas.offcanvas-end.show,
.offcanvas.offcanvas-end.offcanvas-toggling {
  background: url(../../public/menu-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  color: white;
}

.image {
  width: 10vw;
  position: relative;
  border-radius: 10px;
}

#nprogress .bar {
  background: #230098 !important;
}

#nprogress .spinner-icon {
  border-top-color: #ff00007c;
  border-left-color: #ff00007c;
}

.data {
  table-layout: auto;
  word-break: keep-all;
  white-space: nowrap;
}

.data {
  height: 80vh !important;
  width: inherit;
  overflow: scroll;
}

.quest {
  height: 15vh !important;
  width: inherit;
  overflow-y: scroll;
  margin: auto;
  padding: auto;
}

.celdas{
  font-size: 80%;
}

thead tr th { 
  position: sticky;
  top: 0;
  z-index: 10;
}

#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff00;
}

#scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #ffffff00;
}

#scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #9292927c;
}